# Veri tipi Dönüşümleri
Pythonda ve diğer çoğu programlama dilinde veritiplerinin birbirine dönüştürülmesi oldukça önemlidir. Bazı zaman bir ondalıklı sayıyı tamsayıya dönüştürme, hatta ve hatta bir string'i tamsayıya dönüştürme işlemleri programlarımızı yazarken büyük önem taşır. Bu konuda bu tür dönüşümlerini öğrenmeye çalışacağız.

# Tamsayıyı Ondalıklı Sayıya Çevirme

Bir tamsayı değeri(integer) ondalıklı sayıya(float) çevirmek için float() fonksiyonunu kullanabiliriz.Örneklere bakalım.

In [3]:
a = 45
type(a)

int

In [6]:
a = 45
float(a)
type(float(a))
#yani int olan bir sayıyı float a çevirdik

float

In [9]:
a = 45
str(a)
type(str(a))
#yani int olan bir sayıyı str ye çevirdik
#dönüşümler böyle

str

In [11]:
b = 25
float(25)
#tamsayıyı ondalıklıya çevirerek verdi

25.0

# Ondalıklıyı Tam sayıya çevirme

In [15]:
c = 2.99
int(c)
#2.01 de olsa 2.99 da olsa hep ikiyi gösterir yuvarlama yapmaz

2

# Sayıları Stringlere Çevirme

Bir sayıyı string'e çevirmek için str() fonksiyonunu kullanabiliriz.Sayıyı oluşturan tüm rakamlar veya noktalar birer karaktere dönüşecek.

In [16]:
a = 32324324
b = str(a)
b

'32324324'

In [17]:
len(b)

8

In [23]:
t = 3.14343
y = str(t)
y
# t neye dönüştürülürse dönüştürülsün yinede float biçimindedir

'3.14343'

In [24]:
len(y)

7

# Stringleri Tamsayıya Çevirme

Bir string'i bir tamsayıya çevirmek istediğimiz zaman int() fonksiyonunu kullanabiliriz. Ancak biraz dikkatli olmamızda fayda var. Dönüştürme işlemini yaparken stringin herbir karakterinin bir rakam olduğundan emin olmalıyız. Örneklere bakalım.

In [25]:
# Doğru
a = "32434324324234"
b = int(a)
b

32434324324234

In [26]:
# Hatalı - Her bir karakterin 10'luk tabanda olması gerekli.
a = "dasdasd343435"
b = int(a)
b

ValueError: invalid literal for int() with base 10: 'dasdasd343435'

# Stringleri Ondalıklı Sayıya Çevirme

Bir string'i bir ondalıklı sayıya çevirmek istediğimiz zaman float() fonksiyonunu kullanabiliriz. Ancak biraz dikkatli olmamızda fayda var. Dönüştürme işlemini yaparken stringin ondalıklı sayı formatına uygun olduğundan emin olmalıyız. Örneklere bakalım.

In [27]:
# Doğru Kod
a = "3.1444545"
b = float(a)
b

3.1444545

In [28]:
# Hatalı Kod
a = "3.14.324324"
b = float(a)
b

ValueError: could not convert string to float: '3.14.324324'

İşte bu kadar ! Daha sonra öğreneceğimiz veri tiplerini de bu yöntemlerle birbirine dönüştürebileceğiz.